@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap");
.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Montserrat";
  color: #fef9ef;
  background-color: #373e40;
}

nav {
  background: #121212;
  padding: 5px 40px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.menu {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.menu:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #17c3b2;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.menu:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.title {
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: #17c3b2;
}
nav ul li i {
  font-size: 23px;
}
nav ul li.btn {
  display: none;
}
nav ul li.btn.hide i:before {
  content: "\f00d";
}
@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #17c3b2, inset 0 0 10px #17c3b2;
  }
  nav ul li.items:hover:after {
    opacity: 0;
  }
}

@media only screen and (min-width:700px){

  .menu_text { display: block; }
  .menu_icon { display: none; }

}

@media only screen and (max-width:700px){

   .menu_text { display: none; }
   .menu_icon { display: block; }

 }

.backgroundtext {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-size: cover;
}

.backgroundtext {
  font-family: "Montserrat";
  font-weight: 100;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.footer {
  position: relative;
  background-color: #121212;
}

.footertext {
  color: #fef9ef;
  background-color: #121212;
  text-align: center;
  padding: 50px 80px;
  text-align: center;
  style="cursor:pointer;
}


@media only screen and (min-width:700px){
  .panel1 {
    margin-left: 20px;
    font-family: "Montserrat";
    font-weight: 100;
    width: 50%;
  }

  .panel2 {
    margin-right: 20px;
    right: 2;
    text-align: right;
    width: 50%;
    margin-left: 48%;
  }
}

@media screen and (max-width: 600px) {
  .maintext {
    font-size: 60px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
}

a {
  color: #17c3b2;
  style="cursor:pointer;"
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}

.title {
  color: #fef9ef;
  font-size: 18px;
}

button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #fef9ef;
  background-color: #17c3b2;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.9;
}

.contactbutton a{
  color: #fef9ef;
  text-decoration: none;
}

.contactcards{
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #121212;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fef9ef;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #121212;  /* creates padding around scroll thumb */
}
