@import url('https://fonts.googleapis.com/css?family=Montserrat'); /* Import Montserrat font from Google Fonts API */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');  /* Import Open Sans font from Google Fonts API */

* {
  box-sizing: border-box;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
